<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/crude.css' />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascripts/test.js"></script>
  </head>
  <body>
    <div class = "title">
      <h1>Pangaea</h1>
    </div>
  <p> 
    Welcome: <strong><%= user.username %></strong> | <a href='/logout'>logout</a>
  </p>

  <h2>Other users</h2>
  <div id = "users">
    <% for(var i = 0; i < users.length; ++i) { %>
      <% if(users[i].username != user.username){ %>
          <div class = "user">
            <%= users[i].username %> | 
            <a href = "#" class = "create_exchange" data-user-id = "<%= users[i]._id %>">
              Create Exchange
            </a> |
            <a href = "/exchanges/find/<%= users[i]._id %>">
              Get Exchange
            </a>
          </div>
      <% } %>
  <% } %>
  </div>

  <h2>Your exchanges (<%= exchanges.length %>)</h2>
  <div id = "exchanges">
    <% exchanges.forEach(function(exchange){ %>
      <div class = "exchange">
        <% if(exchange.users[0].username == user.username){ %>
          User: <strong><%= exchange.users[1].username %> </strong>
        <% } else { %>
          User: <strong><%= exchange.users[0].username %> </strong>
        <% } %>

        <a href = "/exchanges/<%= exchange._id %>"> Link </a>
      </div>
    <% }); %>
  </div>
  </body>
</html>