<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/chat.css' />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="javascripts/socket.io-1.2.0.js"></script>
    <script src="javascripts/chat.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>Chat id: <%= chat_id %></p>

    <div id="online-users">
      Number of users online: <span id="num-online"><%= online_users.length %></span>
    </div>

    <div id="chat-messages">
    </div>

	<form>
	    <input id="message-input" autocomplete="off" />
	    <button>Send</button>
	</form>
  </body>
</html>
