<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/crude.css' />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascripts/test.js"></script>
  </head>
  <body>
    <div class = "title">
      <h1>Pangaea</h1>
    </div>

  <p> 
    Welcome: <strong><%= user.username %></strong> | <a href='/logout'>logout</a>
  </p>

  <h2>Your offline exchange with 
    <% if(user.username == exchange.users[0].username){ %>
      <%= exchange.users[1].username %>
    <% } else { %>
      <%= exchange.users[0].username %>
    <% } %>
  </h2>

  <p>
    <a class = "live_link" href = "/exchanges/<%= exchange._id %>/live">Live Chat</a>
  </p>

  <div id = "messages">
    <% for(var i = 0; i < messages.length; ++i){ %>
      <div class = "message">
        <%= messages[i].author.username %> : <%= messages[i].content %>
        <span class = "right">
          <%= messages[i].time %>
        </span>
      </div>
    <% } %>
  </div>
  <br>
  <form action="/exchanges/<%= exchange._id %>/messages" method="post">
    Message: <input type="text" name="message"> <input type="submit" value="Submit">
  </form>
  </body>

</html>