<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascripts/test.js"></script>
  </head>
  <body>
    <p> <%= user.username %> </p>
    <a href='/logout'> logout </a>

  <p>
    User1: <%= exchange.users[0].username %>
  </p>
  <p>
    User2: <%= exchange.users[1].username %>
  </p>

  <div id = "messages">
    <% for(var i = 0; i < messages.length; ++i){ %>
      <div id = "message">
        <%= messages[i].author %> : <%= messages[i].content %>
      </div>
    <% } %>
  </div>

  <form action="/exchanges/<%= exchange._id %>/messages" method="post">
    Message: <input type="text" name="message"><br>
    <input type="submit" value="Submit">
  </form>
  </body>

  <a href = "/exchanges/<%= exchange._id %>/live">GO LIVE!!!!!</a>
</html>