<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascripts/test.js"></script>
  </head>
  <body>
  <h1>Exchanges test page</h1>
    <p> <%= user.username %> </p>
    <a href='/logout'> logout </a>

  <div id = "users">
    <% for(var i = 0; i < users.length; ++i) { %>
    <div class = "user">
      <%= users[i].username %>
      <a href = "#" class = "create_exchange" data-user-id = "<%= users[i]._id %>">
        Create Exchange
      </a>
    </div>
  <% } %>
  </div>

  <h2>Your exchanges</h2>
  <div id = "exchanges">
    You have <%= exchanges.length %> exchanges
    <% exchanges.forEach(function(exchange){ %>
      <div class = "exchange">
        User1: <%= exchange.users[0].username %>, User2: <%= exchange.users[1].username %>
        <a href = "/exchanges/<%= exchange._id %>"> Link </a>
      </div>
    <% }); %>
  </div>
  </body>
</html>